body{
    background-color:#0c0f12;
}
.nav1{
    background-color: #36454F;
    width: 100%;
    height: 70px;
    margin-top: 15px;
   
      
}
.annathae:hover{
    opacity: 0.8;
}
input{
    border-radius: 24px;
    margin-top:15px ;
    width: 300px;
    height: 40px;
    margin-left: 1000px;
    background-color:#0c0f12;
    
}
input:focus{
    width: 350px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    
    
}
/* .div1{
    color: aliceblue;
    padding-top: 150px;
    font-size: 90px;
    text-align: center;
    
} */
.div1{
    margin-top: 10px;
}
.div1 img{
    width: 800px;
    height: 320px;
    margin-top: 30px;
    ;

}

.nav1 ::placeholder{
    text-align: center;
    color: whitesmoke;
}
img{
    border-radius: 24px;
    
}
img:hover{
    opacity: 0.7;
    border-radius: 24px;
}

.div2{
    margin-top: 90px;
    margin-left: 120px;
    padding: 60px;
    
}
.div3{
    font-size: 30px;
    color: white;
    font-family: arial;
}
a:hover{
    color: black;
}

