/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Readex+Pro:wght@300&family=Ubuntu:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Readex+Pro:wght@300&family=Redressed&family=Ubuntu:wght@300;500&display=swap');
*{
    margin: 0; 
    /* padding: 0; */
   /* box-sizing: border-box; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* font-family: 'Acme', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
    font-family: 'Acme', sans-serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Redressed', cursive;
font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#sideMenu{
    position:fixed;
    width: 18%;
    height:100%;
    /* background-color: palegoldenrod; */
    border-right: #de6262 2px solid ;
   
    
}

#logo{
    position: absolute;
    width: 12%;
    margin-top: 30%;
    margin-left: 20%;
    background-color: burlywood;
   
}
#menu{
    display: block;
    color: blue;
    text-transform: uppercase;
    
    margin-top: 70%;
    
    margin-left: 5%;
    
    

}
#menu ul li a{
    gap: 50px;
    font-size: 30px;
    margin-left: 10%;
    width: 70%;
    height: 30vh;
    /* background-color: beige; */
    padding: 10px;
    letter-spacing: 1px;
    line-height: 2.5em;
    /* transition: all 0.25 ease; */
}
#menu ul li a :last-child{
    margin-top: 0;
}
#menu ul li a :hover ,#menu ul li a.active{
    color:#de6262 ;
}

#appName{
    position: absolute;
    font-size: 35px;
    margin-top: 30%; 
     margin-left: 40%;
    color: #de6262 ;

}
#itemLogo{
    /* position: static; */
    /* margin-top: 10%; */
    width: 15%;
    
    
}
.topic{
    /* background-color:  brown; */
    
    height: 6vh;
}
#mainContent{
    /* position: absolute; */
    width: 90%;
    height: 100vh;
    margin-left: 18%;
    border-left:#de6262 2px solid ;
    /* background-color: chartreuse; */
    /* background-color: blue; */

}
.topic a{
    
    margin-left: 20%;
    color: white;
    text-decoration: none;

}
#movieList{
    margin-top: 20%;
    position: absolute;
    width: 90%;
    background-color: burlywood;
    height: 40vh;
}
.poster{
    margin-left: 5%;
    border-radius: 24px;
    display:flex;
    flex-direction: row;
}