*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#0c0f12;
    overflow-x: hidden;
}
.nav1{
    background-color: #36454F;
    width: 100%;
    height: 70px;
    margin-top: 15px;
    margin-top: 0; 
    font-family: Acme, sans-serif;   
}
/* .nav1.input{
    color: seashell;
} */
#searchIcon{
    position: absolute;
    width: 2%;
    height: 4vh;
    margin-left: 1%;
    margin-top: 1%;
}
.annathae:hover{
    opacity: 0.8;
}
input{
    border-radius: 24px;
    margin-top:15px ;
    width: 300px;
    height: 40px;
    margin-left: 1000px;
    background-color:#0c0f12;
    color: white;
    
}
/* input:focus{
    width: 350px;
} */
a{
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    
    
}
/* .div1{
    color: aliceblue;
    padding-top: 150px;
    font-size: 90px;
    text-align: center;
    
} */
.div1{
    margin-top: 10px;
}
.div1 img{
    width: 800px;
    height: 320px;
    margin-top: 30px;
}

.nav1 ::placeholder{
    text-align: center;
    color: whitesmoke;
}
img{
    border-radius: 24px;
    width: 10%;
    height: 18vh;
    
}
img:hover{
    opacity: 0.7;
    border-radius: 24px;
}

.div2{
    width: 93%;
    position: absolute;
    margin-top: 90px;
    /* background-color: blueviolet; */
    /* margin-left: 120px; */
    padding: 60px;
    
}
.allMovies{
    margin-left: 5%;
    /* background-color: cornsilk; */
    
    
}
.div3{
    font-size: 30px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 6%;
    /* background-color: lightpink; */
}
a:hover{
    color: black;
}
/* .arrows{
    width: 5%;
    height: 5vh;
    position: absolute;
} */
/* .seeMore{ */
    /* position: absolute; */
    /* margin-left: 60%;
    margin-top: 2%; */
   
/* } */
#tamilMore{
    color: crimson;
    margin-left: 75%;
    /* background-color:lightgreen ; */
}
#tamilMore:hover{
    color: white;
} 
#teluguMore{
    color: crimson;
    margin-left: 75%;
    /* background-color:lightgreen ; */
}
#teluguMore:hover{
    color: white;
} 
#kannadaMore{
    color: crimson;
    margin-left: 72%;
    /* background-color:lightgreen ; */
}
#kannadaMore:hover{
    color: white;
} 
#malayalamMore{
    color: crimson;
    margin-left: 71%;
    /* background-color:lightgreen ; */
}
#malayalamMore:hover{
    color: white;
} 


.rightArrow{
    position: absolute;
    margin-top:4%;
    margin-left: 1%;
    
}
.rightArrowImg{
    width: 70%;
    height: 2vh;
}

#marque{
    width: 500%;
    height: 40vh;
}
#marque a{
    display: inline-block;
}

#marque{
    animation-name: marquee;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes marquee{
    from{
    transform: translateX(25%);
    }
    
    to{
    transform: translateX(-75%);
    }
}