body{
    background-image: url("/home/annapoornibabumanikanda/html files/project/Assets/src/img/bb.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    opacity:0.5;
}
.nav1 {
    text-align: right;
    margin-right: 210px;
    margin-top: 100px;
    font-size: 40px;}
    
a{ 
    text-decoration: none;
    color: #F5FFFA
}
span{
    color: #F8F8FF;

}
a:hover{
    color:blue;

}
p{
    font-size:170px;
    color: white;
    margin-left: 200px;
}




